<html>

<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>
	<body>
		<div class = 'pane'>
		<h1>{{ category.name }}</h1>

		{% with messages = get_flashed_messages() %}
      {% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

		<ul>
		{% for movie in movies %}
			<li>
				{{ movie.name }}
				<a href = "{{url_for('editMovieItem', category_id = category.id, movie_id = movie.id )}}">Edit</a>
				<a href = "{{url_for('deleteMovieItem', category_id = category.id, movie_id = movie.id )}}">Delete</a>
			</li>
		{% endfor %}
		</ul>
		<a href = "{{url_for('newMovieItem', category_id = category.id )}}">Create New Item</a>
		<br>


</div>
	</body>

</html>
